//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and OneUI functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75); /* Higher opacity for a whiteout effect */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Adjust the size of the spinner as needed */
  .spinner-border {
    width: 4rem;
    height: 4rem;
  }

  // Tiptap WYSIWYG - custom styling
  .tiptapStyled .ProseMirror {
    min-height: 10rem;
    background: white;
    padding: 2rem;
    margin: 2rem 0rem;
  }